.navbar .navbar-brand,
.content .nama h1 {
  color: #ffde00;
}

.content .foto img {
  margin-left: 6em;
  width: 280px;
}

.about .link a i {
  color: #0c0c0c;
}

.about .link a:hover {
  color: #ffde00;
}
.contact form input:focus,
.contact form textarea:focus {
  box-shadow: 0 0 0 4px rgba(255, 221, 0, 0.479);
}
